<div class="container">
  <div class="modal fade" style="z-index:1000000" id="portsDetailModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" ng-value="string">Details for port: {{ ports[0].node_id }}</h4>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-5">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Transmitted Bytes (MB)</th>
                    <th>Received Bytes (MB)</th>
                    <th>Transmitted Packets</th>
                    <th>Received Packets</th>
                    <th>Receive CRC Error</th>
                    <th>Receive Drops</th>
                    <th>Receive Errors</th>
                    <th>Receive Frame Error</th>
                    <th>Receive Over-run Error</th>
                    <th>Transmit Drops</th>
                    <th>Transmit Errors</th>
                  </tr>
                  <tr>
                    <td class="colorId">{{ Math.round(portDetails.bytes.transmitted/1000000) }}*10E6</td>
                    <td class="colorId">{{ Math.round(portDetails.bytes.received/1000000) }}*10E6</td>
                    <td class="colorId">{{ portDetails.packets.transmitted }}</td>
                    <td class="colorId">{{ portDetails.packets.received }}</td>
                    <td class="colorId">{{ portDetails["receive-crc-error"] }}</td>
                    <td class="colorId">{{ portDetails["receive-drops"] }}</td>
                    <td class="colorId">{{ portDetails["receive-errors"] }}</td>
                    <td class="colorId">{{ portDetails["receive-frame-error"] }}</td>
                    <td class="colorId">{{ portDetails["receive-over-run-error"] }}</td>
                    <td class="colorId">{{ portDetails["transmit-drops"] }}</td>
                    <td class="colorId">{{ portDetails["transmit-errors"] }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="portsModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" ng-value="string">Ports info for node: {{ ports[0].node_id }}</h4>
        <div class="modal-body">
              <table class="table">
                <tbody>
                  <tr>
                    <th>Port Number / Name</th>
                    <th>MAC Address</th>
                    <th>Configuration State</th>
                    <th>Port Statistics</th>
                  </tr>
                  <tr ng-repeat="port in ports | filter:search">
                    <td class="colorId">{{ port["flow-node-inventory:port-number"] }}: {{ port["flow-node-inventory:name"] }}</td>
                    <td class="colorId">{{ port["flow-node-inventory:hardware-address"] }}</td>
                    <td class="colorId">{{ port["flow-node-inventory:state"]["link-down"] ? "PORT-DOWN" : "PORT-UP" }}</td>
                    <td> <button ng-click="showPortsDetail(port)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#portsDetailModal">Show Details</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="tablesModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" ng-value="string">Table statistics for node {{ ports[0].node_id }}</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <label>
              Aggregate flow statistics
            </label>
            <tbody>
              <tr>
                <th>Flows</th>
                <th>Packets</th>
                <th>Bytes</th>
              </tr>
              <tr ng-repeat="table in tables" ng-if="table.id === 0 ">
                  <td class="colorId">{{ table["opendaylight-flow-statistics:aggregate-flow-statistics"]["flow-count"] }}</td>
                  <td class="colorId">{{ Math.round(table["opendaylight-flow-statistics:aggregate-flow-statistics"]["packet-count"]/1000000) }}*10E6</td>
                  <td class="colorId">{{ Math.round(table["opendaylight-flow-statistics:aggregate-flow-statistics"]["byte-count"]/1000000) }}MB</td>
              </tr>
              </tr>
            </tbody>
          </table>
          <table class="table">
            <label>
              Flow table statistics
            </label>
            <tbody>
              <tr>
                <th>Active flows</th>
                <th>Looked up packets</th>
                <th>Matched packets</th>
              </tr>
              <tr ng-repeat="table in tables" ng-if="table.id === 0 ">
                  <td class="colorId">{{ table["opendaylight-flow-table-statistics:flow-table-statistics"]["active-flows"] }}</td>
                  <td class="colorId">{{ Math.round(table["opendaylight-flow-table-statistics:flow-table-statistics"]["packets-looked-up"]/1000000) }}*10E6</td>
                  <td class="colorId">{{ Math.round(table["opendaylight-flow-table-statistics:flow-table-statistics"]["packets-matched"]/1000000) }}*10E6</td>
              </tr>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <tbody>
      <th>Node Id</th>
      <th>Node IP</th>
      <th>Hardware</th>
      <th>Software Version</th>
      <th>Ports Info</th>
      <th>Tables Info</th>
    </tr>
    <tr ng-repeat="node in nodes" ng-click="showPorts(node)">
      <td class="colorId">{{ node.id }}</td>
      <td class="colorId">{{ node['flow-node-inventory:ip-address'] }}</td>
      <td class="colorId">{{ node['flow-node-inventory:hardware'] }}</td>
      <td class="colorId">{{ node['flow-node-inventory:software'] }}</td>
      <td> <button ng-click="showPorts(node)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#portsModal">Show Ports</button></td>
      <td> <button ng-click="showTables(node)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tablesModal">Show Tables</button></td>
    </tr>
  </tbody>
</table>
<div class="modal-footer">
</div>
