<div class="container">
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Service Function Chaining</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-4">
                      <form>
                        <div class="form-group">
                          <label>
                            Number of Neutron Ports in the Chain
                            <input type="number" class="form-control" ng-model="maxChainOrderNr">
                          </label>
                        </div>
                        <div class ="primary-buttons">
                          <button ng-disabled="!maxChainOrderIsValid(maxChainOrderNr)" ng-click="applyMaxChainOrder()" class="btn btn-primary">Apply Number</button>
                        </div>
                      <!--  <button class="btn btn-primary" ng-click="fetchNeutronPorts()">Get Neutron Ports</button>

                    <div class="alert alert-info">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Info!</strong> Please choose the number of Neutron Ports
                    </div>-->
                  </form>
                    </div>

                  </div>
                  <table class="table">
                    <tbody>
                      <tr>
                        <th>Filter by order: <br><input ng-model="search.selectedOrder"></th>
                        <th>Filter by fixed_ips: <br><input ng-model="search.ip"></th>
                        <th>Filter by mac_adress: <br><input ng-model="search.mac_address"></th>
                        <th>Filter by id: <br><input ng-model="search.id"></th>
                      </tr>
                        <th>order</th>
                        <th>fixed_ips</th>
                        <th>mac_address</th>
                        <th>id</th>
                      </tr>
                      <tr ng-repeat="port in neutronPorts | filter:search">
                        <td>
                          <div class="btn-group" uib-dropdown on-toggle="port.dropDownToggled(open);" is-open="status.isopen">
                            <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                              {{ port.selectedOrder }} <span class="caret"></span>
                            </button>
                            <ul uib-dropdown-menu aria-labelledby="single-button" >
                              <li ng-repeat="(idx, order) in maxChainOrder track by $index"><a ng-click="selectOrder(port, order)" role="button">{{ order }}</a></li>
                            </ul>
                          </div>
                        </td>
                        <td class="colorId">{{ port.ip }}</td>
                        <td class="colorId">{{ port.mac_address }}</td>
                        <td class="colorId">{{ port.id }}</td>
                      </tr>
                    </tbody>
                  </table>          </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" ng-disabled="!chainIsValid(neutronPorts, maxChainOrder)" ng-click="createServiceChain(neutronPorts)" data-dismiss="modal">Create Service Chain</button>
                </div>
              </div>
            </div>
          </div>
        </div>

  <div ng-show="showMessage" class="alert {{ alertClass }}">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>{{ alertTitle }}</strong> {{ alertMessage }}
  </div>

  <div class="col-md-8">
    <div class="panel panel-{{ (chainIsValid(neutronPorts, maxChainOrder)) ? 'primary' : 'warning'; }}">
        <div class="panel-heading">
          <h3 class="panel-title">Service Chain summary {{ (chainIsValid(neutronPorts, maxChainOrder)) ? '' : ''; }}</h3>
        </div>
      <div class="panel-body">
        {{ (getServiceChain(neutronPorts).length == 0 || !chainIsValid(neutronPorts, maxChainOrder)) ? "" : getServiceChain(neutronPorts).join(","); }}
      </div>
    </div>
  </div>
</div>
<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Service Chain</button>
  <div class="btn-group" role="group">
  <!-- <div class="dropdown"> -->
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chain Actions
      <span class="caret"></span></button>
      <ul class="dropdown-menu" ng-click="deleteSelected(item)">
        <li><a href="">Delete</a></li>
      </ul>
  <!-- </div> -->
</div>
</div>
<table class="table">
  <tbody>
      <th>
          <form action="">
              <input ng-model="selectAll" ng-change="toggleSelect()" type="checkbox" name="" value=""><br>
          </form>
    </th>
      <th>Chain Id</th>
      <th>Chain Owner</th>
      <th>Connection points</th>
    </tr>
    <tr ng-repeat="chain in chains">
      <td>
          <form action="">
          <input id="checkboxes" type="checkbox" ng-model="chain.selected">
          </form>
      </td>
      <td class="colorId">{{ chain.id }}</td>
      <td class="colorId">{{ chain['owner-id'] }}</td>
      <td class="colorId">{{ chain.port }}</td>
    </tr>
  </tbody>
</table>
<div class="modal-footer">
</div>
