<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label>
          Number of Neutron Ports in the Chain
          <input type="number" class="form-control" ng-model="maxChainOrderNr">
        </label>
      </div>
      <div class ="primary-buttons">
        <button ng-disabled="!maxChainOrderIsValid(maxChainOrderNr)" ng-click="applyMaxChainOrder()" class="btn btn-primary">Apply Number</button>
        <button class="btn btn-primary" ng-disabled="!chainIsValid(neutronPorts, maxChainOrder)" ng-click="createServiceChain(neutronPorts)">Create Service Chain</button>
      </div>
    <!--  <button class="btn btn-primary" ng-click="fetchNeutronPorts()">Get Neutron Ports</button>
  -->
  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Info!</strong> This alert box could indicate a neutral informative change or action.
  </div>
</form>
  </div>
  <div class="col-md-8">
    <div class="panel panel-{{ (chainIsValid(neutronPorts, maxChainOrder)) ? 'primary' : 'warning'; }}">
        <div class="panel-heading">
          <h3 class="panel-title">Service Chain {{ (chainIsValid(neutronPorts, maxChainOrder)) ? '' : ''; }}</h3>
        </div>
      <div class="panel-body">
        {{ (getServiceChain(neutronPorts).length == 0 || !chainIsValid(neutronPorts, maxChainOrder)) ? "" : getServiceChain(neutronPorts).join(","); }}
      </div>
    </div>
  </div>
</div>
<table class="table">
  <tbody>
    <tr>
      <th>Filter by order: <input ng-model="search.selectedOrder"></th>
      <th>Filter by id: <input ng-model="search.id"></th>
      <th>Filter by mac_adress: <input ng-model="search.mac_address"></th>
      <th>Filter by fixed_ips: <br><input ng-model="search.fixed_ips"></th>
    </tr>
      <th>order</th>
      <th>id</th>
      <th>mac_address</th>
      <th>fixed_ips</th>
    </tr>
    <tr ng-repeat="port in neutronPorts | filter:search">
      <td>
        <div class="btn-group" uib-dropdown on-toggle="port.dropDownToggled(open);" is-open="status.isopen">
          <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
            {{ port.selectedOrder }} <span class="caret"></span>
          </button>
          <ul uib-dropdown-menu aria-labelledby="single-button" >
            <li ng-repeat="(idx, order) in maxChainOrder track by $index"><a ng-click="selectOrder(port, order)" role="button">{{ order }}</a></li>
          </ul>
        </div>
      </td>
      <td>{{ port.id }}</td>
      <td>{{ port.mac_address }}</td>
      <td>{{ port.fixed_ips }}</td>
    </tr>
  </tbody>
</table>
